Source: python-diana
Section: libs
Priority: low
Maintainer: David Boddie <david.boddie@met.no>
Build-Depends: diana-headless-dev, libqt4-headless-dev, python-sip-dev, python-qt4-headless
Standards-Version: 3.8.3
Homepage: http://diana.met.no

Package: python-diana
Architecture: any
Depends: python-sip, diana-headless-3.29, libqtcore4-headless, libqtgui4-headless, libqt4-svg-headless,
  python-qt4-headless
Description: Python language bindings to Diana
  A set of Python language bindings to Diana, exposing an API that
  can be used for batched generation of products.
