#!/usr/bin/make -f

version = $(shell dpkg-parsechangelog | awk '/^Version/{print $$2}')
python_version = "2.7"
qt_pkg_dir = "/opt/qt4-headless"
pyqt_pkg_dir = "/opt/qt4-headless/lib/python"$(python_version)
python_diana_pkg_dir = "/opt/qt4-headless/lib/python"$(python_version)"/site-packages"

build:
	mkdir -p $(CURDIR)/debian/python-diana-headless$(qt_pkg_dir)/lib
	mkdir -p $(CURDIR)/debian/python-diana-headless$(qt_pkg_dir)/lib/python-diana
	mkdir -p $(CURDIR)/debian/python-diana-headless$(qt_pkg_dir)/share/doc
	qt_pkg_dir=$(qt_pkg_dir) python_diana_pkg_dir=$(python_diana_pkg_dir) \
        PYTHONPATH=$(pyqt_pkg_dir)/site-packages python configure.py -x Diana_GUI
	$(MAKE)

clean:
	
	if [ -f Makefile ]; then \
        rm Makefile; fi
	rm -rf $(CURDIR)/modules $(CURDIR)/debian/python-diana-headless $(CURDIR)/debian/files Makefile

install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/python-diana-headless install
	cp -a /usr/lib/libdiana.so* $(CURDIR)/debian/python-diana-headless$(qt_pkg_dir)/lib/python-diana
	cp -a doc/python-diana $(CURDIR)/debian/python-diana-headless$(qt_pkg_dir)/share/doc

binary: binary-arch binary-indep

binary-indep:

binary-arch: install
	mkdir $(CURDIR)/debian/python-diana-headless/DEBIAN
	dpkg-gencontrol -ppython-diana-headless -P$(CURDIR)/debian/python-diana
	dpkg --build debian/python-diana-headless ..

.PHONY: build clean binary-indep binary-arch binary install configure

