#!/usr/bin/make -f

version = $(shell dpkg-parsechangelog | awk '/^Version/{print $$2}')

build:
	mkdir $(CURDIR)/debian/tmp
	PYTHONPATH=/opt/qt4-qws/lib/python2.7/site-packages python configure.py
	$(MAKE)

clean:
	if [ ! -f Makefile ]; then PYTHONPATH=/opt/qt4-qws/lib/python2.7/site-packages python configure.py; fi
	$(MAKE) clean
	rm -rf debian/tmp debian/files modules $(CURDIR)/debian/tmp Makefile

install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp install

binary: binary-arch binary-indep

binary-indep:

binary-arch: install
	mkdir $(CURDIR)/debian/tmp/DEBIAN
	dpkg-gencontrol
	dpkg --build debian/tmp ..

.PHONY: build clean binary-indep binary-arch binary install configure

